.clock {
  width: 320px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1fr;
  font-family: "Hiragino Sans W6", "Hiragino Kaku Gothic ProN",
    "ヒラギノ角ゴ ProN W6", "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
    "MS PGothic", sans-serif;
}

.date {
  margin: 0;
  justify-self: start;
  align-self: end;
  font-size: 1rem;
}

.time {
  width: 100%;
  margin: 0;
  font-size: 5rem;
}