---
import Common from "../../layouts/Common.astro";

export async function getStaticPaths({ paginate }) {
    const posts = await Astro.glob("/src/content/illust/*.png");
    return paginate(posts, { pageSize: 20 });
}
const { page } = Astro.props;

const pick_name = (src: string) => {
    const dir = src.split("/");
    const name = dir[dir.length - 1].split(".")[0];
    return name;
};
---

<Common title="倉庫">
    <main>
        <div class="container">
            {
                page.data.map((p) => {
                    const name = pick_name(p.default.src);
                    return (
                        <a href={"/gallery/" + name}>
                            <img
                                class="illust"
                                src={"/src/content/illust/" + name + ".png"}
                                alt=""
                            />
                        </a>
                    );
                })
            }
        </div>
    </main>
</Common>
<style>
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .illust {
        width: 80%;
    }
</style>
