---
import Common from "../layouts/Common.astro";
import { Content as Profile } from "./md/profile.md";
---

<Common title="姿見">
    <main>
        <div class="intro">著者近影(気が向いたら撮るぜ！)</div>
        <div class="profile">
            <Profile />
        </div>
    </main>
</Common>
<style>
    main {
        width: 50%;
        min-width: 320px;
        margin: auto;
    }
</style>
