---
import { BingoComponent } from "@/components/Bingo.tsx";
import Top from "@/layouts/Top.astro";
import Footer from "@/components/SimpleFooter.astro";
import "../styles/global.css";
---

<Top
  url={Astro.url.href}
  type="article"
  title="ビンゴ"
  description="しまっていくぜ"
  image=""
>
  <div class="min-h-screen w-dvw bg-neutral-100 text-neutral-800">
    <div class="min-h-screen w-1/2 mx-auto py-16">
      <div class="text-center p-8 mb-4 bg-amber-400 rounded-xl shadow-lg">
        <h1 class="text-4xl font-bold text-white">エアプビンゴ</h1>
        <p class="text-sm text-white">オタクビンゴ2</p>

        <BingoComponent client:load />
      </div>
    </div>
  </div>
  <Footer />
</Top>
