---
import Common from "../layouts/Common.astro";
import json from "../content/.bookie_clicker/lib.json";
import BookCard from "../components/BookCard.astro";
---

<Common
    url={Astro.url.href}
    type="article"
    title="ほんだな"
    description="しまっていくぜ"
    image=""
>
    <h1>読んだ本</h1>
    <ul>
        {
            json.items
                .sort(
                    (a, b) =>
                        Date.parse(b.status.progresses[0].termEnd) -
                        Date.parse(a.status.progresses[0].termEnd),
                )
                .map((book) => {
                    return <BookCard book={book} />;
                })
        }
    </ul>
</Common>

<style>
    ul {
        margin: 1rem;
        padding: 0;
    }
</style>
