---
import Common from "../layouts/Common.astro";
import GachaComponent from "../components/Gacha";
const md = await Astro.glob("/src/content/resources/5w1h/*.md");
const gachaItemLists = md
    .sort()
    .map((p) => p.rawContent().split("\n").filter(Boolean));
---

<Common
    url={Astro.url.href}
    type="article"
    title="冷蔵庫"
    description="からっぽ"
    image=""
>
    <main>
        <GachaComponent gachaItemLists={gachaItemLists} client:load />
    </main>
</Common>
