---
import Common from "../layouts/Common.astro";
import GachaComponent from "../components/Gacha";
---

<Common
    url={Astro.url.href}
    type="article"
    title="冷蔵庫"
    description="からっぽ"
    image=""
>
    <main>
        <GachaComponent client:load />
    </main>
</Common>
