---
import Top from "../layouts/Top.astro";
---

<Top
  url={Astro.url.href}
  type="website"
  title="床"
  description="宇田の家の床"
  image=""
>
  <main>
    <div
      class="flex flex-row flex-wrap gap-16 justify-between min-h-screen w-dvw text-neutral-950"
    >
      <div class="self-start flex flex-row gap-4">
        <h2
          class="font-extrabold text-9xl [writing-mode:vertical-rl] border-r-16 border-neutral-950 pr-4 whitespace-nowrap"
        >
          や‐さがされ
        </h2>
        <div
          class="flex flex-col list-none gap-2 text-2xl font-bold whitespace-nowrap *:first-letter:text-4xl"
        >
          <a href="/about">げたばこ</a>
          <a href="/blog/1">つくえ</a>
          <a href="/gallery/1">やねうら</a>
          <a href="/bookshelf">ほんだな</a>
          <a href="/clock">とけい</a>
          <a href="/watersort">ながし</a>
          <a href="/onehourwriting">はりがみ</a>
          <a href="/mergesorter">ひとりあそび</a>
          <a href="/trajectory">だんどうけいさん</a>
        </div>
      </div>
      <div class="self-end flex flex-row gap-4 ml-auto">
        <div class="flex flex-col gap-2 justify-end text-xl">
          <div class="flex flex-col items-end">
            <h2 class="font-bold">動かしています</h2>
            <div>文字</div>
            <div>ピクセル</div>
            <div>バイナリ・ディジット</div>
          </div>
          <div>
            <div class="flex flex-col items-end">
              <h2 class="font-bold">動かされています</h2>
              <div>意味</div>
              <div>実存</div>
              <div>愛</div>
              <div>恐怖</div>
            </div>
          </div>
        </div>
        <div class="flex flex-col border-l-16 border-neutral-950 pl-4">
          <div
            class="flex flex-col text-[2rem] font-bold border-b-8 border-neutral-950 pb-2 mb-2"
          >
            <div>住んで</div>
            <div>います</div>
          </div>
          <div class="flex flex-col font-extrabold text-8xl">
            <a href="https://github.com/gitdmnt/">宇</a>
            <a href="https://twitter.com/41_36_22">田</a>
          </div>
        </div>
      </div>
    </div>
  </main>
</Top>
