---
import Top from "../layouts/Top.astro";
import { KeyPiano } from "../components/Synth/Piano";
---

<Top
  url={Astro.url.href}
  type="article"
  title="ピアノ！"
  description="音量注意！"
  image=""
>
  <h1>ピアノ工事中</h1>
  <ul>
    <li>Gキーから右の8鍵と上の5鍵で音が鳴る。</li>
    <li>左Shiftを押してる間はオクターブ上がる。</li>
    <li>バーをいじるとドが移動する。</li>
    <li>QWEにI IV V7が入ってて、あとAとZにVImとIIImが入ってる。</li>
    <li>それだけ。</li>
  </ul>
  <KeyPiano client:only="React" />
</Top>
