---
import Common from "../layouts/Common.astro";
import Board from "../components/Pencilpuzzle/board.svelte";
---

<Common
  url={Astro.url.href}
  type="article"
  title="かたづけ"
  description="ごちゃごちゃ"
  image=""
>
  <main>
    <h2>スリーマッチパズル</h2>
    <Board client:load />
  </main>
</Common>
