---
import Common from "../layouts/Common.astro";
import Game from "../components/threematch/game.svelte";
---

<Common
  url={Astro.url.href}
  type="article"
  title="かたづけ"
  description="ごちゃごちゃ"
  image=""
>
  <main>
    <h2>スリーマッチパズル</h2>
    <Game client:load />
  </main>
</Common>
