---
import { WaterSort } from "../components/WaterSort/WaterSort";
import Common from "../layouts/Common.astro";
---

<Common
  url={Astro.url.href}
  type="article"
  title="すいどう"
  description="ごちゃごちゃ"
  image=""
>
  <main>
    <h2>広告のゲーム</h2>
    <WaterSort client:load />
    <p>
      Water Sortっていうゲームらしいです。<wbr
      />適当にぽちぽちすれば動くと思います。<br
      />証明はしてないけど多分解けると思います。<wbr />解けなかったらごめん。<br
      />バーを動かすと生成されるのはボタンで選択されている方の問題です。
    </p>
  </main>
</Common>
