---
import { Image } from "astro:assets";
interface Props {
  name: string;
  file: string;
  color: string;
}

let { name, file, color } = Astro.props;
if (file === "") {
  file = name;
}
const img = (
  await Astro.glob("/src/content/resources/blogicon/*.{png,jpg,webp}")
).filter((p) => p.default.src.split("/").pop().split(".")[0] === file)[0]
  .default;

const size = name.length < 5 ? "12pt" : "10pt";
---

<div class="container">
  <div class="face">
    <div class="picture_border">
      <Image class="picture" src={img} alt={name} quality={10} />
    </div>
    <p class="name">{name}</p>
  </div>
  <div class="line">
    <slot />
  </div>
</div>
<style define:vars={{ color, size }}>
  .container {
    width: 100%;
    display: grid;
    grid-template-columns: 72px 1fr;
    align-items: center;
  }
  .picture_border {
    margin: auto;
    justify-self: center;
    width: 54px;
    height: 54px;
    object-fit: cover;
    border-radius: 30px;
    border: solid 2px var(--color);
  }
  .picture {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 27px;
    border: solid 2px white;
  }
  .name {
    margin: 0;
    margin-block-start: -10px;
    text-align: center;
    white-space: wrap;
    color: var(--color);
    font-weight: bolder;
    font-size: var(--size);
    line-height: normal;
    text-shadow:
      2px 2px 0 #fff,
      -2px -2px 0 #fff,
      -2px 2px 0 #fff,
      2px -2px 0 #fff,
      0px 2px 0 #fff,
      0 -2px 0 #fff,
      -2px 0 0 #fff,
      2px 0 0 #fff;
  }
  .line {
    white-space: pre-wrap;
    margin-block: 0;
    margin-inline-start: 1rem;
  }
</style>
