---
interface Props {
  title: string;
  body: string;
  href: string;
  date: string;
}

const { href, title, body, date } = Astro.props;
---

<li class="link-card">
  <a href={href}>
    <h2>
      {title}
    </h2>
    <p class="description">
      {body}
    </p>
    <div class="datearrow">
      <p class="date">{date}</p>
      <p class="arrow">&rarr;</p>
    </div>
  </a>
</li>

<style>
  li {
    list-style: none;
    margin-block: 1rem;
    padding: 0rem;
    width: 50rem;
    box-sizing: border-box;
    background-color: #ffffff;
    border-block-start: 1px solid #ddd;
  }
  a {
    padding-block-start: 1rem;
    margin-block-end: 1rem;
    padding-inline-start: 1rem;
    padding-inline-end: 0rem;
    color: #1d1d1d;
    text-decoration: none;
    display: grid;
    grid-template-rows: minmax(3rem, max-content) minmax(4rem, max-content) 2rem;
    min-height: 8rem;
  }
  a:hover {
    background-color: #f8f8f8;
  }
  h2 {
    grid-row: 1/2;
    margin-block: 0.5rem;
    padding-block: 0.5rem;
    border-block-end: 1px solid #1d1d1d;
  }
  .description {
    margin-block: 0;
    margin-inline: 0;
    grid-row: 2/3;
  }
  .datearrow {
    grid-row: 3/4;
    display: flex;
    justify-content: space-between;
    text-indent: 0;
    margin: 0;
    padding: 0;
  }
  .date {
    font-size: 8pt;
    color: #ccc;
    margin: 0;
    padding: 0;
  }
  .arrow {
    margin-block: 0;
    margin-inline: 1rem;
    padding: 0;
    color: #1d1d1d;
  }
</style>
