---

---

<footer>
    <div class="container">
        <div class="sign">2023 うだ✌️</div>
    </div>
</footer>
<style>
    .container {
        margin-inline: auto;
        margin-block: 3rem;
        border: none;
        border-top: 1px solid #d4d4d4;
        justify-content: center;
        min-width: 320px;
        width: 50%;
    }
    .sign {
        margin-inline: auto;
        margin-block: 2rem;
        color: #dbd4d4;
        font-size: 10pt;
        text-align: center;
        font-family:
            "Helvetica Neue",
            Helvetica,
            "Noto Sans" sans-serif;
    }
</style>
