---
import * as twitter_icon from "/public/twitter.png";
import * as github_icon from "/public/github-mark.svg";
import { string } from "astro/zod";

interface Props {
  mode?: string;
}

const { mode = "light" } = Astro.props;
---

<footer>
  <div class="twitter link">
    <a href="https://twitter.com/41_36_22/">
      <div class="spacer"></div>
    </a>
  </div>
  <div class="github link">
    <a href="https://github.com/gitdmnt/">
      <div class="spacer"></div>
    </a>
  </div>
</footer>
<style>
  footer {
    height: 100dvh;
    position: sticky;
    top: 0;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-items: end;
  }
  .link {
    height: 100%;
    width: 50%;
  }
  .twitter {
    background-color: #d56a8a;
  }
  .github {
    background-color: #1d1d1d;
  }
  .spacer {
    height: 100%;
    width: 100%;
  }

  @container (max-width: 600px) {
    footer {
      margin-block-start: 4rem;
      height: 50px;
      align-items: end;
    }
    .link {
      height: 100%;
      width: 100%;
    }
  }
</style>
