---

---

<header>
  <div class="title">
    <a class="title" href="/"> や<span class="title">-</span>さがされ</a>
  </div>
  <ul class="link-container">
    <li class="page-link">
      <div class="page-link-component">
        <a href="/about">げたばこ</a>
      </div>
    </li>
    <li class="page-link">
      <div class="page-link-component">
        <a href="/blog/1">やねうら</a>
      </div>
    </li>
  </ul>
</header>

<style>
  header {
    display: grid;
    place-items: center center;

    width: 100%;
    height: 100dvh;

    position: sticky;
    top: 0;

    border-inline-end: 1px dashed #1d1d1d;

    font-family: "Noto Sans CJK JP";
    font-weight: 300;
  }
  .title {
    writing-mode: sideways-lr;
  }
  .link-container {
    display: none;
  }

  a {
    color: #1d1d1d;
    text-decoration: none;
  }
  @container (max-width: 600px) {
    header {
      grid-template-columns: auto 1fr;
      justify-items: stretch;
      justify-content: start;

      width: 100%;
      height: auto;

      border-inline-end: none;

      margin-block-end: 4rem;
      padding-block-end: 4rem;
    }
    .title {
      margin-block: 2rem;
      margin-inline: 1rem;
      writing-mode: horizontal-tb;
      font-size: 12pt;
      white-space: nowrap;
    }
    div.title:first-letter {
      font-size: 20pt;
    }
    span.title {
      display: none;
    }
    .link-container {
      justify-self: end;
      display: flex;
      font-size: 10pt;
      margin-block-start: calc(2rem + 9pt);
      margin-block-end: calc(2rem + 1pt);
      padding: 0;
    }
    .page-link {
      display: block;
      margin-inline-end: 1rem;
      padding: 0;
      border-block-end: 1px dashed #1d1d1d;
    }
  }
</style>
