---

---

<header>
    <div class="container">
        <ul class="page-link">
            <li class="page-link">
                <a href="/about">げんかん</a>
            </li>
            <li class="page-link">
                <a href="/blog/1">やねうら</a>
            </li>
            <li class="page-link">
                <a href="/illust">そうこ</a>
            </li>
            <li class="page-link">
                <a href="/gacha">れいぞうこ</a>
            </li>
        </ul>
        <div class="title"><a href="/">や‐さがされ</a></div>
        <hr />
    </div>
</header>

<style>
    header {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .container::before {
        content: "";
        display: inline-block;
        height: 122pt;
        width: 10pt;
        background: #1d1d1d;
        margin-block-end: -126pt;
    }
    .container {
        display: flex;
        flex-direction: column;
        margin-block-end: 3rem;
        margin-inline: auto;
        font-family: "Kosugi";
        line-height: 0;
        width: 60%;
        min-width: 320px;
    }
    ul.page-link {
        list-style: none;
        display: flex;
        flex-wrap: nowrap;
        flex-shrink: 1;
        justify-content: space-between;
        margin: 0;
        margin-inline-start: 18pt;
        padding: 0;
    }
    li.page-link::before {
        content: "";
        display: block;
        flex-shrink: 1;
        height: 1px;
        width: 50pt;
        background: #d4d4d4;
        margin-block-end: 12pt;
    }
    li.page-link {
        white-space: nowrap;
        margin-inline: 0pt;
        margin-block-start: 8pt;
        margin-block-end: 20pt;
        font-size: 8pt;
    }
    .title {
        display: block;
        white-space: nowrap;
        margin-block-start: 40pt;
        margin-block-end: 20pt;
        margin-inline: 16pt;
        font-size: 40pt;
    }
    header {
        display: flex;
        justify-content: space-between;
    }
    a {
        color: #1d1d1d;
        text-decoration: none;
    }
    hr {
        margin-block-start: 20pt;
        width: 100%;
        border: none;
        border-top: 4px double #d4d4d4;
        text-align: center;
    }
</style>
