---

---

<header>
    <div class="container">
        <div class="title">
            <a class="title" href="/">や‐さがされ</a>
        </div>
        <div class="page-link">
            <ul class="page-link">
                <li class="page-link">
                    <a href="/about">げたばこ</a>
                </li>
                <li class="page-link">
                    <a href="/blog/1">やねうら</a>
                </li>
                <li class="page-link">
                    <a href="/gallery/1">そうこ</a>
                </li>
            </ul>
            <ul class="page-link">
                <li class="page-link">
                    <a href="/gacha">れいぞうこ</a>
                </li>
                <li class="page-link">
                    <a href="/bookshelf">ほんだな</a>
                </li>
                <li class="page-link">
                    <a href="/clock">とけい</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<style>
    header {
        width: 100%;
        margin-block-end: 4rem;
    }
    .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: auto;
        font-family: "Kosugi";
        border-bottom: 1px solid #1d1d1d;
    }
    .title {
        display: block;
        text-align: center;
        font-size: 15pt;
        white-space: nowrap;
        padding-block-start: 4px;
        padding-block-end: 2px;
        padding-inline: 0.5rem;
        margin: 0;
        background-color: #1d1d1d;
    }
    a.title {
        display: block;
        margin: 0;
        color: #fff;
    }
    div.page-link {
        margin-block-start: auto;
        margin-block-end: 0.2rem;
        margin-inline: 1rem;
    }
    ul.page-link {
        align-self: end;
        list-style: none;
        display: inline-flex;
        flex-wrap: nowrap;
        flex-shrink: 1;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }
    li.page-link {
        display: block;
        white-space: nowrap;
        flex-shrink: 1;
        padding-inline-start: 0.5rem;
        padding-inline-end: 1.5rem;
        margin: 0;
        font-size: 10pt;
    }

    a {
        color: #1d1d1d;
        text-decoration: none;
    }
</style>
