---

---

<header>
    <div class="container">
        <div class="title"><a class="title" href="/">や‐さがされ</a></div>
        <ul class="page-link">
            <li class="page-link">
                <a href="/about">げたばこ</a>
            </li>
            <li class="page-link">
                <a href="/blog/1">やねうら</a>
            </li>
            <li class="page-link">
                <a href="/gallery/1">そうこ</a>
            </li>
            <li class="page-link">
                <a href="/gacha">れいぞうこ</a>
            </li>
        </ul>
    </div>
</header>

<style>
    header {
        width: 100%;
    }
    .container {
        display: flex;
        justify-content: space-between;
        margin: auto;
        font-family: "Kosugi";
        border-bottom: 2px solid #1d1d1d;
    }
    .title {
        display: block;
        text-align: center;
        font-size: 15pt;
        white-space: nowrap;
        padding-block-start: 4px;
        padding-block-end: 2px;
        padding-inline: 0.5rem;
        margin: 0;
        background-color: #1d1d1d;
    }
    a.title {
        display: block;
        margin: 0;
        color: #fff;
    }
    ul.page-link {
        align-self: end;
        list-style: none;
        display: inline-flex;
        flex-wrap: nowrap;
        flex-shrink: 1;
        justify-content: space-between;
        margin-block-end: 0.2rem;
        margin-inline: 1rem;
        padding: 0;
    }
    li.page-link {
        display: block;
        white-space: nowrap;
        flex-shrink: 1;
        padding-inline-start: 0.5rem;
        padding-inline-end: 1.5rem;
        margin: 0;
        font-size: 10pt;
    }
    @media (max-width: 500px) {
        ul.page-link {
            margin-inline: 0.2rem;
        }
        li.page-link {
            font-size: 8pt;
            padding-inline-start: 0.1rem;
            padding-inline-end: 0.4rem;
        }
    }
    @media (max-width: 360px) {
        .title {
            font-size: 12pt;
        }
        li.page-link {
            font-size: 6pt;
        }
    }

    a {
        color: #1d1d1d;
        text-decoration: none;
    }
</style>
