---

---

<header>
    <h2><a href="/">や‐さがされ</a></h2>
    <ul>
        <li>
            <a href="/about">げんかん</a>
        </li>
        <li>
            <a href="/blog">やねうら</a>
        </li>
        <li>
            <a href="/illust">そうこ</a>
        </li>
        <li>
            <a href="/gacha">れいぞうこ</a>
        </li>
    </ul>
</header>

<style>
    header {
        display: flex;
        justify-content: space-between;
    }
    a {
        color: #3b3b3b;
        text-decoration: none;
    }
    ul {
        list-style: none;
        display: flex;
    }
    li {
        white-space: nowrap;
        margin-inline-end: auto;
        padding: 0.5rem;
    }
    h2 {
        white-space: nowrap;
    }
</style>
