<footer>
  <a href="/">や-さがされ</a>
</footer>
<style>
  footer {
    display: block;
    width: 100%;
    padding-block: 3rem;
    text-align: center;
    & a {
      color: #1d1d1d;
    }
  }
</style>
