---
import Common from "./Common.astro";
const { frontmatter } = Astro.props;
---

<Common title={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <slot />
  <p>{frontmatter.date}, 書いた人: {frontmatter.author}</p>
</Common>
