---
import Header from "../components/Header.astro";
import Top from "./Top.astro";
interface Props {
    title: string;
}
const { title } = Astro.props;
---

<Top title={title}>
    <Header />
    <div class="main">
        <slot />
    </div>
</Top>
<style>
    .main {
        margin: auto;
        min-width: 320px;
        width: 50%;
    }
</style>
